.collection-wrapper {
    width: calc(100vw-250px);
    height: 100vh;
    margin-left: 250px;
}

.collection-content {
    background-color: #292929;
    height: 100vh;
    display: flex;
    flex-direction: column;
}