.topbar-wrapper {
    background-color: rgba(58, 56, 56, 0.5);
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 250px
}

.topbar-container {
    width: 100%;
    height: 100%;
    justify-items: right;
}

.btn-container {
    width: 32px;
    height: 32px;
    background-color: inherit;
}

.search-container {
    width: 20%;
    height: 60%;
    margin-left: 30px;
}

.search-form {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.search-input {
    width: 100%;
    height: 100%;
    outline: none;
}

.search-icon {
    width: 24px;
    height: 24px;
    
}

.back-btn {
    background-color: inherit;
    border: 0;
}

.account-btn {
    width: 180px;
    height: 32px;
    background-color: rgba(0,0,0,.7);
    display: flex;
    padding: 0;
    position: absolute;
    right: 280px;
    align-items: center;
}

.account-btn:hover {
    background-color: rgba(145, 140, 140, 0.7)
}

.icon-container {
    width: 28px;
    height: 28px;
    background-color: gray;
    border-radius: 50%;
}

