.track-container {
    width: 80%;
    height: 56px;
    font-family: Arial, Helvetica, sans-serif
}

.track-container:hover{
    background-color: hsla(0,0%,100%,.3);
    cursor: pointer;
}

.index-container {
    width: 16px;
    height: 54px;
    margin-left: 60px;
}

.form-data-header {
    width: 100%;
    height: 36px;
}

.index-track {
    width: 16px;
    height: 16px;
}

.track-all-info {
    width: 100%;
}

.track-img {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.track-info {
    width: 50%;
    min-width: 110px;
    height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.track-title {
    width: 100%;
    height: 26px;
    font-weight: 600;
    font-size: 18px;
}

.track-artist {
    width: 100%;
    height: 22px;
    font-weight: 400;
    font-size: 0.875rem;
    color: #b3b3b3;
}

.track-created {
    width: 20%;
    color: #b3b3b3;
    width: 400px;
}

